// tamaño columna control general, 1 rem = 16px
$columna: 133px;
$espaciado: 16px;
$tiempoT: 0.5s;
.Gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, $columna);
    grid-auto-rows: 200px;
    justify-content: center;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    gap: $espaciado;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .galleryItem{
        //clip a hexagono
        clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
        //ajustar separacion y ocupa 2 espacios de grilla
        grid-column: span 2;
        //ajustar deformacion vertical
        height: ($columna*2) + $espaciado;
        //ajuste desfase para hexagonos en el grid
        transition: $tiempoT;
        &:nth-of-type(6n + 1){
            grid-column: 2 / span 2;
        }
        &:hover{
            filter: brightness(0.3);
        }
    }
}
// media queries
@media screen and (min-width: 270px) and (max-width: 510px) {
    .galleryItem{
        &:first-of-type{
            grid-column: 1 / span 2;
        }
    }
    .Gallery{
        grid-auto-rows: ($columna*2) + $espaciado;
        background-color: red;
    }
}
@media screen and (min-width: 511px) and (max-width: 685px) {
    .galleryItem:nth-child(odd){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: lightblue;
    }
}
@media screen and (min-width: 686px) and (max-width: 857px) {
    .galleryItem:nth-of-type(3n + 1){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: orange;
    }
}
@media screen and (min-width: 858px) and (max-width: 1033px) {
    .galleryItem:nth-of-type(4n + 1){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: pink;
    }
}
@media screen and (min-width: 1034) and (max-width: 1208px) {
    .galleryItem:nth-of-type(5n + 1){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: lightcoral;
    }
}
@media screen and (min-width: 1209) and (max-width: 1384px) {
    .galleryItem:nth-of-type(6n + 1){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: lightgreen;
    }
}
@media screen and (min-width: 1385) {
    .galleryItem:nth-of-type(7n + 1){
        grid-column: 2 / span 2;
    }
    .Gallery{
        
        background-color: lightcyan;
    }
}